$blue: #5e94ff;
$bgcolor: #f6f7fb;
$cardCarosual: 100vh;
@font-face {
  font-family: Rooster;
  src: url(../Font/RoosterPersonalUse-3z8d8.ttf);
}

.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh;
  max-height: 120vh;
  background-color: $bgcolor;
}

.loginCard {
  display: flex;
  width: 100%;
  height: $cardCarosual;
  background-color: white;
  margin: 0 auto;
  border-radius: 8px !important;
  transition: transform 0s ease-in-out !important; /* Add this line */
  transform: translateX(0);
  background-color: $bgcolor !important;
}
.carousel {
  width: 100% !important;
  height: $cardCarosual !important;
}
.cardHeading {
  font-size: 48px !important;
  font-weight: 500 !important;
  font-family: Rooster !important;
  font-style: italic;
  color: $blue;
  text-align: center;
}

.cardBox {
  min-width: 40%;
  padding: 50px 0;
}
//signup animation
.cardBox.signup {
  animation-name: cardSignup;
  animation-duration: 1s;
  transform: translate(0);
}
.loginCard .cardBox.signup {
  transform: translateX(140%);
}
@keyframes cardSignup {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(140%);
  }
}
//login animation
.cardBox.login {
  animation-name: cardLogin;
  animation-duration: 1s;
  transform: translate(140%);
}
.loginCard .cardBox.login {
  transform: translateX(0%);
}
@keyframes cardLogin {
  from {
    transform: translate(140%);
  }
  to {
    transform: translateX(0%);
  }
}

.cardMedia {
  min-width: 60%;
  background-color: $blue;
  // background: url(../Image/autumn.jpg);
  background-size: cover;
}

//signup animation
.cardMedia.signup {
  animation-name: mediaSignup;
  animation-duration: 1s;
  transform: translate(0);
}
.loginCard .cardMedia.signup {
  transform: translateX(-67%);
}
@keyframes mediaSignup {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-67%);
  }
}
//login animation
.cardMedia.login {
  animation-name: mediaLogin;
  animation-duration: 1s;
  transform: translate(-70%);
}
.loginCard .cardMedia.login {
  transform: translateX(0%);
}

@keyframes mediaLogin {
  from {
    transform: translate(-70%);
  }
  to {
    transform: translateX(0%);
  }
}
.cardInputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: self-end;
  width: 60%;
  align-items: center;
  margin: 85px auto;
}

.cardButton {
  width: 90px;
  color: #f6f7fb !important;
  font-weight: 500 !important;
  background-color: $blue !important;
}

.MuiInputBase-adornedStart {
  padding-left: 0px !important;
  margin: 0px !important;
  height: 50px;
}

.MuiInputBase-adornedStart input {
  border-left: 0.1px solid rgba($color: #000000, $alpha: 0.2) !important;
  padding-left: 10px !important;
}

.inputIcon {
  margin: 0px !important;
  padding: 5px;
  color: rgba($color: #000000, $alpha: 0.4) !important;
}
