$blue: #5e94ff;
$bgcolor: #f6f7fb;
$buttonBg: #f1f2f4;
@mixin button {
  color: $buttonText !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
}
$buttonText: rgb(0, 0, 0);
.taskHubBody {
  box-sizing: border-box !important;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  padding: 75px 0px 0 50px;
  min-height: 100vh;
  column-gap: 20px;
  height: auto;
  min-width: 100vw;
  width: fit-content !important;
  overflow: hidden !important;
}
.carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
}

.carousel .slide img {
  // height: 800px; /* change this to whatever you want */
  width: auto;
}
.commentDeleteIcon {
  cursor: pointer;
}
.taskHubCard {
  background-color: $buttonBg !important;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0px 10px 5px;
  min-height: 100px !important;
  max-height: 400px;
  padding: 10px !important;
  border-radius: 25px !important;
}
.taskHubCard:hover {
  transform: scale(1.01);
}
.taskHubCardContent {
  margin: 10px 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
  overflow-y: auto !important ;
  border-radius: 25px;
}

.taskHubStages {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
//  Trello Stage inner Card's
.taskHubInnerCard {
  box-sizing: border-box !important;
  background-color: #fff;
  border-radius: 25px !important;
  width: 95%;
  min-height: 150px !important;
  display: flex;
  flex-direction: column;
  margin: 0 auto 10px;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px !important;
  gap: 5px;
}
.innerCardAvatar {
  width: 25px !important;
  height: 25px !important;
  font-size: 15px !important;
}
.innerCardContent {
  padding-top: 2px !important;
  flex-grow: 1 !important;
  align-items: center !important;
  align-content: center !important;
  overflow-wrap: break-word;
}
.actionStack {
  align-items: center;
}
.actionIconStack {
  width: 105px !important;
  justify-content: space-around !important;
  margin-right: 10px;
  align-items: center;
  align-content: center;
  height: 30px !important;
  justify-content: flex-end;
  flex-direction: row !important;
}
.innerCardTitle.MuiCardHeader-root {
  padding: 16px !important;
  padding-bottom: 0px !important ;
  padding-top: 10px !important ;
}
.actionIconStack svg {
  font-size: 18px !important;
}
.actionStack svg {
  font-size: medium;
}
.taskHubAction {
  padding: 0px !important;
  margin: 0;
  justify-content: flex-start;
}
.innerCardActions {
  padding-left: 15px !important;
  padding-right: 15px !important;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.innerActionIconButton {
  padding: 0 !important;
}
.innerActionIconButton svg {
  font-size: larger;
}
.innerCardTitle .MuiCardHeader-content span {
  font-size: medium !important;
  font-weight: 700 !important;
  text-transform: capitalize;
}
.actionStackDueDate {
  font-size: 14px !important;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 2px;
}
.due {
  border-radius: 25px;
  padding: 2px 3px;
  // border: 1px solid rgb(202, 42, 42);
  background-color: rgba(241, 188, 188, 0.596);
  color: rgb(202, 42, 42);
  text-decoration: line-through;
}
.due svg {
  color: red;
}
.notdue {
  border-radius: 25px;
  padding: 2px 5px;
  // border: 1px solid rgb(37, 217, 64);
  background-color: rgba(202, 255, 204, 0.596);
  color: rgb(26, 135, 43);
}
.notdue svg {
  color: green;
}

.taskHubHeader {
  align-items: center !important;
}
.taskHubHeader span {
  font-weight: 600;
  font-size: medium !important;
}
.taskHubButton {
  @include button;
  margin-bottom: 0px !important;
  background: transparent !important;
  border: none !important;
  width: 90% !important;
  margin: 0 !important;
  backdrop-filter: blur(10px);
  box-shadow: none !important;
  justify-content: flex-start !important;
}
.taskHubStageButton {
  @include button;
  height: fit-content !important;
  background-color: transparent !important;
  color: #000 !important;
  border: 1px solid black !important;
  // margin: 20px 10px 10px !important;
}
.cardContainer {
  box-sizing: border-box;
  width: 100% !important;
  display: flex;
  gap: 10px !important;
  margin-top: 70px !important;
}
//  Drawer
.taskHubDrawer .MuiDrawer-paper {
  width: 500px !important;
}
.innerActionBadge span {
  height: 16px !important;
  width: 16px !important;
  min-width: none !important;
}
.cardDrawerTextField {
  width: 90% !important;
  background-color: #fff;
  margin: 10px auto !important;
}
.cardDrawerTextField .MuiInput-root {
  padding-bottom: 6px;
}
.cardDrawerTextField label {
  font-size: 16px !important;
  font-weight: 500 !important;
  color: #000;
}

.drawerCard {
  margin: 0px !important ;
  padding-bottom: 10px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 55vh;
  align-items: center;
  justify-content: center !important;
}
.drawerInnerCard {
  background-color: rgb(182, 233, 255) !important;
  margin: 10px 10px 0 !important;
  width: 70%;
  height: 60px !important;
  border-radius: 25px !important;
}
.drawerButton {
  background-color: #715e9b !important;
  color: #fff !important;
  width: 100px;
  border-radius: 8px !important;
  margin: 5px !important;
}
.drawerButton:last-of-type {
  margin-left: 10px;
}
.dialogBoxContent {
  padding: 10px !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dialogBoxContent input {
  height: 40px !important;
}
.taskHubButton span svg {
  font-size: 26px !important ;
}
#setting svg {
  font-size: 20px !important;
}

.commentHeading {
  position: relative;
  right: 30%;
}
// .drawerButtonGroup {
//   position: relative;
//   left: 25%;
// }
.commentButtonGroup {
  position: relative;
  right: 27%;
}
.commentTextField {
  width: 90%;
}
.commentCard {
  margin: 30px auto !important ;
  padding: 20px !important;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 50vh;
  align-items: center;
  justify-content: center !important;
}
.commentTextFieldBox {
  display: flex;
  align-items: last baseline;
  width: 90%;
}
.commentSection {
  // border: 1px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  row-gap: 5px;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  flex-grow: 1;
  height: 300px;
  // margin-top: 50px !important;
}

.taskHubCardHeading {
  display: flex;
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
  border-radius: 8px;
  color: #fff !important;
  background-color: #fff;
  width: 95%;
  margin: 0 auto;
  height: 35px;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  font-weight: 600 !important;
  clip-path: polygon(0% 0%, 95% 0%, 100% 50%, 95% 100%, 0% 100%);
}
.taskHubCardHeading:last-of-type {
  clip-path: none;
}
.taskHubCardHeading h4 {
  align-items: center;
  display: flex;
  gap: 5px;
}
.taskHubCardHeading svg {
  color: #fff !important;
}
@media only screen and (max-width: 400px) {
}
@media only screen and (min-width: 400px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 800px) {
}

@media only screen and (max-width: 950px) {
  .cardContainer {
    margin-top: 115px !important;
  }
  .taskHubCard {
    max-height: 350px;
  }
}
.size {
  width: 250px;
  min-width: 280px !important;
}
// Custom Scroll Bar
/* Add custom scroll styling */
::-webkit-scrollbar {
  width: 8px;
  height: 2.5vh;
}

/* Show scrollbar on hover */

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Color of the thumb */
  border-radius: 25px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  // background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-color: transparent !important; /* Color of the track */
  width: 120%;
}
.fullWidth {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.navToolBar div {
  display: flex;
  align-items: center;
}
.errorMsg {
  width: 90% !important;
  align-self: self-start;
  margin: 0px auto !important;
}
.errorMsgStage {
  position: relative;
  left: -25%;
}
.taskHubContainerAction {
  position: fixed;
  justify-content: space-between;
  width: 93vw !important;
  margin-left: 10px;
  margin-top: 20px;
}

.taskHubContainerItem {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly !important;
}
