$blue: #5e94ff;
$bgcolor: #f6f7fb;
$buttonBg: #f1f2f4;
@mixin button {
  color: $buttonText !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
}
$buttonText: rgb(0, 0, 0);
* {
  font-size: small !important;
}
.trelloBody {
  // background: url("../Image/BG5.jpg") no-repeat;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  background-size: fill;
  min-height: 100vh;
  padding-top: 75px;
  column-gap: 20px;
  min-width: 100vw;
  width: fit-content !important;
  // overflow: auto;
}
.trelloCard {
  background-color: $buttonBg !important;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 5px;
  min-height: 100px !important;
  max-height: 450px;
  padding: 10px !important;
  border-radius: 25px !important;
}
.trelloCard:hover {
  transform: scale(1.01);
}
.trelloCardContent {
  margin: 10px 0 !important;
  padding: 0 !important;
  overflow-x: auto !important;
  overflow-y: auto !important ;
  border-radius: 25px;
}

.trelloBox {
  background-color: #fff;
  border-radius: 25px !important;
  width: 95%;
  height: 150px !important;
  margin: 0 auto 10px;
  flex-grow: 1;
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px !important;
}

.trelloAction {
  padding: 0px !important;
  margin: 0;
  justify-content: flex-start;
}
.trelloHeader {
  align-items: center !important;
}
.trelloHeader span {
  font-weight: 600;
  font-size: medium !important;
}
.trelloButton {
  @include button;
  margin-bottom: 0px !important;
  background: transparent !important;
  border: none !important;
  width: 90% !important;
  margin: 0 !important;
  backdrop-filter: blur(10px);
  box-shadow: none !important;
  justify-content: flex-start !important;
}
.trelloStageButton {
  @include button;
  height: fit-content !important;
  background-color: $buttonBg !important;
  color: $buttonText !important;
}
.cardContainer {
  box-sizing: border-box;
  width: 100% !important;
  display: flex;
  gap: 10px !important;
}

.trelloDrawer .MuiDrawer-paper {
  width: 500px !important;
}
.drawerHeader {
  align-items: center;
  height: 70px !important;
}
.dialogBoxContent {
  padding: 10px !important;
  min-height: 130px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.dialogBoxContent input {
  height: 40px !important;
}
.trelloGridItem {
  display: flex;
  justify-content: flex-start;
  height: 50px !important;
  padding: 10px 40px 0;
}
.trelloButton span svg {
  font-size: 26px !important ;
}
#setting svg {
  font-size: 20px !important;
}
.trelloContainer {
  margin: 0 auto;
  padding: 0 5px;
  backdrop-filter: blur(10px);
  border-radius: 25px !important;
  margin-top: 75px;
  align-content: flex-start;
}
.trelloCardHeading {
  display: flex;
  border-radius: 4px !important;
  color: #000000 !important;
  width: 100%;
  min-height: 40px;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  font-weight: 600 !important;
}
.trelloCardHeading h4 {
  align-items: center;
  display: flex;
  gap: 5px;
}
.primary {
  color: #0055ff !important;
}
.primary svg {
  color: #77a4ff !important;
}
.secondary {
  color: #ffb20a !important;
}
.secondary svg {
  color: #f9c03e !important;
}

@media only screen and (max-width: 400px) {
  .size {
    min-width: 100% !important;
  }
}
@media only screen and (min-width: 400px) {
  .size {
    min-width: 60% !important;
  }
  .sm {
    min-width: 75%;
  }
  .md {
    min-width: 75%;
  }
  .lg {
    width: 75%;
    min-width: 75%;
  }
  .xl {
    width: 100%;
    min-width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  // For Mobile
  .size {
    min-width: 50% !important;
  }
  .sm {
    min-width: 50%;
  }
  .md {
    width: 50%;
    min-width: 50%;
  }
  .lg {
    width: 75%;
    min-width: 75%;
  }
  .xl {
    width: 100%;
    min-width: 100%;
  }
}

@media only screen and (min-width: 800px) {
  /* For tablet: */
  .size {
    width: 33%;
    min-width: 33% !important;
  }
  .sm {
    width: 33.33%;
    min-width: 33.33%;
  }
  .md {
    width: 50%;
    min-width: 50%;
  }
  .lg {
    width: 75%;
    min-width: 75%;
  }
  .xl {
    width: 100%;
    min-width: 100%;
  }
}

@media only screen and (min-width: 1100px) {
  /* For desktop: */
  .size {
    width: 25%;
    min-width: 300px !important;
  }
  .sm {
    width: 30%;
    min-width: 30%;
  }
  .md {
    width: 50%;
    min-width: 50%;
  }
  .lg {
    width: 75%;
    min-width: 75%;
  }
  .xl {
    width: 100%;
    min-width: 100%;
  }
}
// Custom Scroll Bar
/* Add custom scroll styling */
::-webkit-scrollbar {
  width: 8px;
  height: 15px;
}

/* Show scrollbar on hover */

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Color of the thumb */
  border-radius: 25px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track */
  width: 120%;
}
