@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif !important;
}

html,
body {
  max-height: 100vh;
}
.navBar {
  background-color: transparent !important;
  height: 60px;
}
.navToolBar {
  justify-content: space-between;
  padding: 0 60px;
}

.navToolBar .cardHeading {
  cursor: pointer;
  font-size: 48px !important;
  color: #715e9b;
}
.headerAvatar {
  background-color: #3f1651 !important;
  width: 40px !important;
  height: 40px !important;
  cursor: pointer;
}
.picker {
  margin-top: 20px;
  width: 300px;
  background: #f0f0f4;
  border-radius: 10px;
}

.picker .react-colorful {
  width: auto;
}

.picker__swatches {
  display: flex;
  padding: 12px;
  flex-wrap: wrap;
}

.picker__swatch {
  width: 24px;
  height: 24px;
  margin: 4px;
  border: none;
  padding: 0;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.listItem {
  margin: 20px;
  padding: 10px;
  height: 550px;
  overflow-y: auto;
  min-width: fit-content !important;
}
.list {
  display: flex;
  gap: 10px;
}
.headerName {
  font-size: 22px !important;
  font-weight: 600 !important;
  font-style: bold;
  color: #684f9f;
  text-align: center;
  padding-right: 5px;
  text-transform: capitalize;
  padding-right: 10px;
}
.listTable {
  height: 300px !important;
}
